<ion-view view-title="Pronostico">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in servicio.chats" type="item-text-wrap" href="#/tab/chats/{{chat.dt}}">
        <img ng-src="img/weather/{{chat.weather[0].icon}}.png">
        <h2>{{chat.dt*1000 | date:'fullDate'}}</h2>
        <p>{{chat.temp.min}}º/{{chat.temp.max}}º</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
